<%-include("head"); %>
<%-include("navbar"); %>
<form action="" method=POST>
	<div class="form-group">
		<label for="score">
			Score 
		</label>
		<input id="score" class="form-control" type="text" name="score" value="">
	</div>
	<button type="submit" class="btn-full btn btn-primary">Submit</button>
</form>
<%- include("bottom");%>